.header{
    width: 100%;
    height: 10rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(255, 249, 219);
    background: linear-gradient(  #fc0 70%,#ffffff);
}